# Host-side tools (versions verified with this project)

#data-generator
psycopg2-binary==2.9.12
faker==37.12.0

#CDC
python-dotenv==1.2.1
requests==2.32.5

#Consumer
-r consumer/requirements.txt

#dbt
dbt-snowflake==1.10.2
